[submodule "bundle/snipmate"]
	path = bundle/snipmate
    url = https://github.com/msanders/snipmate.vim.git
    ignore = dirty
[submodule "bundle/tasklist"]
	path = bundle/tasklist
    url = https://github.com/vim-scripts/TaskList.vim.git
    ignore = dirty
